UilDBIscrittiExporter/Service References/ServiceReference1/ImportExportService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UilDBIscritti.IntegrationEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UilDBIscritti.IntegrationEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ExportTrace">
    <xs:sequence>
      <xs:element minOccurs="0" name="Area" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Errore" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExportDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExportNumber" type="xs:int" />
      <xs:element minOccurs="0" name="ExportType" type="tns:ExprtType" />
      <xs:element minOccurs="0" name="ExporterMail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExporterName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InitialDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Period" type="xs:int" />
      <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sector" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Struttura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Transacted" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Workers" nillable="true" type="tns:ArrayOfWorkerDTO" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExportTrace" nillable="true" type="tns:ExportTrace" />
  <xs:simpleType name="ExprtType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SimpleExport" />
      <xs:enumeration value="ProgramExport" />
      <xs:enumeration value="LiberiExport" />
      <xs:enumeration value="ServerSideExport" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ExprtType" nillable="true" type="tns:ExprtType" />
  <xs:complexType name="ArrayOfWorkerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WorkerDTO" nillable="true" type="tns:WorkerDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorkerDTO" nillable="true" type="tns:ArrayOfWorkerDTO" />
  <xs:complexType name="WorkerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BirthDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BirthPlace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BirthProvince" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cap" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentAzienda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Errors" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExistBirthPlace" type="xs:boolean" />
      <xs:element minOccurs="0" name="ExistLivingPlace" type="xs:boolean" />
      <xs:element minOccurs="0" name="Fiscalcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="IscrittoA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastModifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LiberoAl" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LivingPlace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LivingProvince" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nationality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RowNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Subscription" nillable="true" type="tns:SubscriptionDTO" />
      <xs:element minOccurs="0" name="Subscriptions" nillable="true" type="tns:ArrayOfSubscriptionDTO" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkerDTO" nillable="true" type="tns:WorkerDTO" />
  <xs:complexType name="SubscriptionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Area" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contract" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployCompany" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Entity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FiscalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InitialDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Level" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quota" type="xs:double" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sector" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Semester" type="xs:int" />
      <xs:element minOccurs="0" name="Struttura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubscriptionDTO" nillable="true" type="tns:SubscriptionDTO" />
  <xs:complexType name="ArrayOfSubscriptionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SubscriptionDTO" nillable="true" type="tns:SubscriptionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubscriptionDTO" nillable="true" type="tns:ArrayOfSubscriptionDTO" />
</xs:schema>