UilDBIscrittiExporter/Service References/ServiceReference1/ImportExportService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ImportExportService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55601/ImportExportService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55601/ImportExportService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55601/ImportExportService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UilDBIscritti.IntegrationEntities" />
      <xsd:import schemaLocation="http://localhost:55601/ImportExportService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IImportExport_ImportData_InputMessage">
    <wsdl:part name="parameters" element="tns:ImportData" />
  </wsdl:message>
  <wsdl:message name="IImportExport_ImportData_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportDataResponse" />
  </wsdl:message>
  <wsdl:message name="IImportExport_GetCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategories" />
  </wsdl:message>
  <wsdl:message name="IImportExport_GetCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IImportExport_GetTerritori_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTerritori" />
  </wsdl:message>
  <wsdl:message name="IImportExport_GetTerritori_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTerritoriResponse" />
  </wsdl:message>
  <wsdl:message name="IImportExport_RetrieveDataFromCoda_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveDataFromCoda" />
  </wsdl:message>
  <wsdl:message name="IImportExport_RetrieveDataFromCoda_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveDataFromCodaResponse" />
  </wsdl:message>
  <wsdl:message name="IImportExport_UserIsValid_InputMessage">
    <wsdl:part name="parameters" element="tns:UserIsValid" />
  </wsdl:message>
  <wsdl:message name="IImportExport_UserIsValid_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserIsValidResponse" />
  </wsdl:message>
  <wsdl:portType name="IImportExport">
    <wsdl:operation name="ImportData">
      <wsdl:input wsaw:Action="http://tempuri.org/IImportExport/ImportData" message="tns:IImportExport_ImportData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImportExport/ImportDataResponse" message="tns:IImportExport_ImportData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IImportExport/GetCategories" message="tns:IImportExport_GetCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImportExport/GetCategoriesResponse" message="tns:IImportExport_GetCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTerritori">
      <wsdl:input wsaw:Action="http://tempuri.org/IImportExport/GetTerritori" message="tns:IImportExport_GetTerritori_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImportExport/GetTerritoriResponse" message="tns:IImportExport_GetTerritori_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveDataFromCoda">
      <wsdl:input wsaw:Action="http://tempuri.org/IImportExport/RetrieveDataFromCoda" message="tns:IImportExport_RetrieveDataFromCoda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImportExport/RetrieveDataFromCodaResponse" message="tns:IImportExport_RetrieveDataFromCoda_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserIsValid">
      <wsdl:input wsaw:Action="http://tempuri.org/IImportExport/UserIsValid" message="tns:IImportExport_UserIsValid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImportExport/UserIsValidResponse" message="tns:IImportExport_UserIsValid_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IImportExport" type="tns:IImportExport">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ImportData">
      <soap:operation soapAction="http://tempuri.org/IImportExport/ImportData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <soap:operation soapAction="http://tempuri.org/IImportExport/GetCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTerritori">
      <soap:operation soapAction="http://tempuri.org/IImportExport/GetTerritori" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveDataFromCoda">
      <soap:operation soapAction="http://tempuri.org/IImportExport/RetrieveDataFromCoda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserIsValid">
      <soap:operation soapAction="http://tempuri.org/IImportExport/UserIsValid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImportExportService">
    <wsdl:port name="BasicHttpBinding_IImportExport" binding="tns:BasicHttpBinding_IImportExport">
      <soap:address location="http://localhost:55601/ImportExportService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>