UilDBIscrittiExporter/Service References/ServiceReference1/ImportExportService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ImportExportService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IImportExport_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://www.uildbiscritti.it:8082/UilDBIscritti.ImportWcfService/ImportExportService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://www.uildbiscritti.it:8082/UilDBIscritti.ImportWcfService/ImportExportService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://www.uildbiscritti.it:8082/UilDBIscritti.ImportWcfService/ImportExportService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UilDBIscritti.ImportWcfService" />
      <xsd:import schemaLocation="http://www.uildbiscritti.it:8082/UilDBIscritti.ImportWcfService/ImportExportService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UilDBIscritti.IntegrationEntities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IImportExport_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IImportExport_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IImportExport_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IImportExport_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IImportExport_ImportData_InputMessage">
    <wsdl:part name="parameters" element="tns:ImportData" />
  </wsdl:message>
  <wsdl:message name="IImportExport_ImportData_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IImportExport">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IImportExport/GetData" message="tns:IImportExport_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImportExport/GetDataResponse" message="tns:IImportExport_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IImportExport/GetDataUsingDataContract" message="tns:IImportExport_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImportExport/GetDataUsingDataContractResponse" message="tns:IImportExport_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ImportData">
      <wsdl:input wsaw:Action="http://tempuri.org/IImportExport/ImportData" message="tns:IImportExport_ImportData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImportExport/ImportDataResponse" message="tns:IImportExport_ImportData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IImportExport" type="tns:IImportExport">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IImportExport/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IImportExport/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportData">
      <soap:operation soapAction="http://tempuri.org/IImportExport/ImportData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IImportExport" type="tns:IImportExport">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IImportExport_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IImportExport/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IImportExport/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportData">
      <soap:operation soapAction="http://tempuri.org/IImportExport/ImportData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImportExportService">
    <wsdl:port name="BasicHttpBinding_IImportExport" binding="tns:BasicHttpBinding_IImportExport">
      <soap:address location="http://www.uildbiscritti.it:8082/UilDBIscritti.ImportWcfService/ImportExportService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IImportExport" binding="tns:BasicHttpsBinding_IImportExport">
      <soap:address location="https://uil001/UilDBIscritti.ImportWcfService/ImportExportService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>