UilDBIscrittiExporter/Service References/ServiceReference1/ImportExportService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UilDBIscritti.IntegrationEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UilDBIscritti.IntegrationEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ExportTrace">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Errore" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExportDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExportNumber" type="xs:int" />
      <xs:element minOccurs="0" name="ExporterMail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExporterName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalExports" type="xs:int" />
      <xs:element minOccurs="0" name="Transacted" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Workers" nillable="true" type="tns:ArrayOfWorkerDTO" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExportTrace" nillable="true" type="tns:ExportTrace" />
  <xs:complexType name="ArrayOfWorkerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WorkerDTO" nillable="true" type="tns:WorkerDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorkerDTO" nillable="true" type="tns:ArrayOfWorkerDTO" />
  <xs:complexType name="WorkerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Errors" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fiscalcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastModifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nationality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RowNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Subscription" nillable="true" type="tns:SubscriptionDTO" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkerDTO" nillable="true" type="tns:WorkerDTO" />
  <xs:complexType name="SubscriptionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubscriptionDTO" nillable="true" type="tns:SubscriptionDTO" />
</xs:schema>